body {
    font-family: IBM Plex Mono;
    font-size: 12px;
    line-height: 1.5em;
    margin: 6em 2em 2em 2em;
    height: 100%;
  }

  .nav-container {
    display: flex;
    /* justify-content: space-between; */
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: calc(100% - 4em);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C9CBCF;
    background-color: white;
    list-style-type: none;
    padding: 0 2em 0 2em;
    .nav-1, .nav-2, .nav-3 {
        margin: 1em 0 1em 0;
        padding: 0;
        
    }
    .nav-1 { 
        color: #5CA3E6;
        z-index: 2;
    }
    .nav-2 {
        width: calc(100% - 4em); 
        position: absolute; 
        text-align: center;
    }
    .nav-3 {
        z-index: 2;
    }
    .nav-item {
        display: inline;
        padding: 0 0 0 2em;
    }
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #C9CBCF;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 12px;
    text-decoration: underline;
}

.strip {
    margin: 3em 0 0 0;
}

.code {
    border-radius: 0.25em; 
    background-color: #e3e5ea;
}