body {
    font-family: IBM Plex Mono;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    height: 100%;
  }
  
.newDiv { 
border: 1px solid black;
border-radius: 1em;
padding: 1em;
margin-bottom: 1em;
}

.newP {
display: flex;
justify-content: space-between;
border-bottom: 1px;
border-bottom-style: solid;
border-bottom-color: rgba(0, 0, 0, 0.2);
}

.objProperty {
padding-right: 4em;
}

h1 {
    text-align: center;
    font-size: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
}

.properties-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1em;
    margin-bottom: 1em;
}

.query-summary {
    padding-top: 2em;
    padding-bottom: 2em;
}

.results-details {
    padding-top: 2em;
    padding-bottom: 2em;
}

.chart-legend-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    .chart-container {
        display: flex;
        margin: 0;
        padding: 0;
        width:  40%;
        /* height: 100%; */
        canvas {
        width: 100% ; 
        /* height: 100%; */
        }
      }

    .legend-container{
        width: 60%;
        height: 100%;
        ul {
            width: 100%;
        }
    }
}

.bar-chart-legend-container {
    border-color: #C9CBCF;
    border-width: 1px;
    border-radius: 2em;
    border-style: solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    margin-bottom: 2em;
    .bar-chart-container {
        width:100%;
        margin-bottom: 2em;
        canvas {
            width: 100%!important;
        };
        };
    
    .legend-container {
        width: 100%;
    }
    }

.chart-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0;
}

.collapsible {
    width: calc(100% - 4em);
    overflow: hidden;
    transition-duration: 500ms;
    .legend-container {
        display: none;
    }
    &:hover{
        .legend-container {
            display: block;
        }
    }
}

.main-container {
    display: grid; 
    grid-template: 
    "a d" auto
    "b d" auto
    "c d" auto / 1fr 1fr; 
    column-gap: 2em; 
    margin: 5em 2em 0 2em;
    height: 100%;
}

.nav-container {
    display: flex;
    /* justify-content: space-between; */
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: calc(100% - 4em);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C9CBCF;
    background-color: white;
    list-style-type: none;
    padding: 0 2em 0 2em;
    .nav-1, .nav-2, .nav-3 {
        margin: 1em 0 1em 0;
        padding: 0;
        
    }
    .nav-1 { 
        color: #33b5e5;
        z-index: 2;
    }
    .nav-2 {
        width: calc(100% - 4em); 
        position: absolute; 
        text-align: center;
    }
    .nav-3 {
        z-index: 2;
    }
    .nav-item {
        display: inline;
        padding: 0 0 0 2em;
    }
}

button {
    display: flex;
    justify-content:center;
    font-size: 1em;
    border: 1px solid lightgray;
    font-family: IBM Plex Mono;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    border-radius: 2em;
    padding: 8px;
    &:hover {
        z-index: 2;
        outline-color: #33b5e5;
        outline-style: solid;
        outline-width: 2px;
        outline-offset: -2px;
    }
    &:active {
        outline-color: #33b5e5;
        color: #33b5e5;
    }
}

.loaderDiv {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;

}

.loaderText {
    background: linear-gradient(to right, #33b5e5, #54a7f6, #9492f5, #ce74d9, #f650a6, #ff4a83, #ff515e, #ff6238, #ff7c2a, #ff961a, #ffb006, #ffc900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 2em;
    font-size: 3em;
    text-align: center;
    width: 75%;
    animation: fade 24s linear infinite;
    &:after{
        content: "";
        animation: changeText 24s linear infinite;
    }
}

@keyframes fade {
    0% {opacity: 0}
    12.5% {opacity: 1;}
    25% {opacity: 0;}
    37.5% {opacity: 1;}
    50% {opacity: 0;}
    62.5% {opacity: 1;}
    75% {opacity: 0;}
    87.5% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes changeText {
    12.5% {content: "We are working hard to prepare your download..."}
    37.5% {content: "Thank you for using Crossref Dashboard!"}
    62.5% {content: "Press Command + Option + J (on a Mac) or Control + Shift + J (on Windows) to see us working."}
    87.5% {content: "If this is taking a long time, try refreshing this page, or narrowing your query."}
  }

